.home-jumbo{
    text-align: center;
    background-image: url("./homePageTitle.jpg");
    background-size: cover;
}

.card-img {
    width: 10rem !important;
    border-radius: 50% !important;
    padding: 1rem !important;
}