.p-home {
    background-color: whitesmoke;
    text-align: center;
}

.home-jumbo{
    text-align: center;
    height: 30rem;
}

.home-jumbo > h1{
    font-size: 7rem;
    padding-top:10rem;
}

.home-jumbo > h3{
    font-size: 4rem;
    padding-top:1rem;
}

.main-text{
    font-size: 1.5rem;
    margin-top: 2rem;
    line-height: 1.5rem;
}

.books-categories{
    width: 100%;
    display:flex;
    justify-content: space-between;
    background-color: #d6cfc5;
}

.summary{
    font-size: 20px;
    margin-top:2rem;
}

.summary >span {
    font-size: 40px;
    color: blue;
}

.summary a {
    text-decoration: none;
}