.p-login {
    margin: auto;
    max-width: 50%;
    width: 100%;
    height: 100vh;
}

.login-title {
    text-align: center;
    padding-top: 7rem;
}

.login-form{
    margin:3rem;
}

.login-form-group {
    margin-bottom:1rem;
}

.login-button{
   max-width: 29rem;
}


.signup-from-login{
    float:left;
}

.error-login {
    color: red;
    margin-right: 10rem;
}