.p-login {
    margin: auto;
    max-width: 50%;
    
}

.login-title {
    text-align: center;
    margin-top: 7rem;
}

.login-form{
    margin:3rem;
}

.login-form-group {
    margin-bottom:1rem;
}

.login-button{
    padding-top:2rem;
  margin:auto;
    
}

.signup-from-login{
    float:left;
}

.error-login {
    color: red;
    margin-right: 10rem;
}