
.p-signup {
    margin: auto;
    width: 100%;
    max-width: 60%;
    height: 100vh;
}


.signup-form > h1{
    text-align: center;
    padding:2rem;
}

.error-signup {
    color:red;
    font-size: 14px;
    margin-right: 9rem;
}
