.p-singleBook{
    display:flex;
    flex-direction: column;
    margin:auto;
    width: 40rem;
    height: 35rem;
    background-color: #e8cfc8;
    border-radius: 5%;
}

.book-review{
    height: 80%;
    padding: 2rem;
    text-align: center;
    font-size: 24px;
}

.buttons-section{
   margin:auto;
}

.buttons-section button {
    margin:1rem;
}