.tolaat-navbar {
    direction: rtl;
    top: 0;
    background-color: whitesmoke;
    padding:0.5rem;
}
.tolaat-dropdown {
    z-index: 1;
    width: 15rem;
}

.search-ul{
    list-style-type: none;
}

.nav-tolat-left{
    margin-right:auto;
  
}